language: nix
sudo: false
cache:
  directories:
  - "$HOME/nix.store"
  - "$HOME/.gradle/caches/"
  - "$HOME/.gradle/wrapper/"
before_install:
- sudo mkdir -p /etc/nix
# make sure no browser is left over that can disturb the karma tests (nix-shell provides the browsers!)
- sudo apt-get remove google-chrome-stable -y
- sudo apt-get remove chromium-browser -y
- echo "substituters = https://cache.nixos.org/ file://$HOME/nix.store" | sudo tee -a /etc/nix/nix.conf > /dev/null
- echo 'require-sigs = false' | sudo tee -a /etc/nix/nix.conf > /dev/null
before_cache:
- mkdir -p $HOME/nix.store
- nix copy --to file://$HOME/nix.store -f shell.nix buildInputs

env:
  global:
    - # GitHub Environment variables for NPM version patch
    - secure: "GDir5MFXiBx0e4BrUGTKGAvB13hHADulqAkc0vcIOzT2N50hZC6aKU6bImV/5aAmZRLKz8VoGdZpvO1ojEgJnNy3Jb6E9Z51NMoZkaDInTLTT2i0+lTrCFT0/TYE23JwTCs/fIxjRbN6jpNUbo8X53dIL3YubWugsE80LuIc8idJoARToRToZV69ykicc3ElI0UOQY9QHl6yPun63SWwXnnMqLoGS7ohVte1V4He1NDIatrE7qZW2VPcAX8disl9CTFlxFX7jgc5ExGc83Wuv2c6QYnnuogS8HDof9cFO9p39eomI+KCVv6K4eFR7GvICW3tuAtY+jhz20HExhs5wRZQB+yI6STEeQo62imCnEdXWO00Wza47Lbs+4HHrCNia/8DTaSRLM0mRynIz9e9OtqY2XnQeqzUYg+3KVPNMMrkbFyi+5Yzn/R2iLlk/KujacFS5rjV2FZrxxG/WX3I8Mnjflj3otU+lc8S2YhimDxU0+ZSS9iVVx6xABFMdpT+drOXrT6T7bZt1kcUa+rvPfnHPk9MbFvUkbdCkjneuOgoUjm2ovn1QAK+mrv1ZT0Hbm1JWNj6qfw3gzD8yUci6ZOiFAPCrrtx74MvZqL9JFkZiU8Q4qOYlnFYdfYvLDTz16WrwZFa+CN6oHVFq/odpGIbtackEXtgezYnypeTfdg="
    - secure: "I0hjUdKshsLm59GXEl1dzihwCsA6m/lVKPVmwDYmI0RPKw5q1kEctwxU2in9bAYR5n5U8tCIyGyaxj0FTUkTKjxqx9TL1hmMve5ENkGivE3zrYofh+QtPbZPx2qo7lID3kIa7HcVymA58utRJuK34gZSxy5CKGuGtPrMVxQc81xr5saTaqZ02cPba9oc7eOb/5Y0MQVzZunYWRn14iIC8cGpadBt2MBRUXCnm8vU/IiLN1vHVs4oK769DGsb55ob9l34MybxRR90UmRpovd9ezzF8hZsXEEAAYLK5hYm0ST41J+bqSp3lsSv1wNI8Q+GJdGgM3zwfAHZssRSKY/JuiQK0mrI5P8E8JOk+EGqKneAWo5zTDYQx8Y3J+E0ptdYHbysUkAaGm+1+9TVWYV9YE5M4DMWmbhdWvc2V2QwohVhV2pUlNwAg/8NhTOeuxSyi0eE5xPyfGEQM5tHo2l4zmq5CwElhck0ZAnvBNxHedVDAnBeKzcgp2yVk0VomgsXAa8GULmk2HYUAHvqysxeq6B5ockcq9t6gbx1Yw+/efXvPr/mfTlvAHqeUQ+wWrRcQu58UrKRQUxScPZ1IF2JAWoYjZb7XF7dbf2EEDymySkKXwO0WtTBICDbxoFv3FFO97xoIog6AhIDJogQG7DkuvG9Dl48EWmzAeju0HeSKmo="
    - NIXPKGS_ALLOW_UNFREE: 1

  matrix:
    - FIREFOX_VERSION="latest"
    - FIREFOX_VERSION="60-esr"

install:
- nix-shell shell-${FIREFOX_VERSION}.nix --command "yarn install"
script:
- nix-shell shell-${FIREFOX_VERSION}.nix --command "firefox --version"
- nix-shell shell-${FIREFOX_VERSION}.nix --command "google-chrome --version"
- nix-shell shell-${FIREFOX_VERSION}.nix --command "yarn run lint"
- nix-shell shell-${FIREFOX_VERSION}.nix --command "xvfb-run --server-args=\"-ac -screen 0 1920x1080x16\" yarn run test:once"
- nix-shell shell-${FIREFOX_VERSION}.nix --command "xvfb-run --server-args=\"-ac -screen 0 1920x1080x16\" yarn run e2e"

after_success:
- nix-shell shell-${FIREFOX_VERSION}.nix --command "yarn run packagr"
# Autoincrement of patch level version:
# Tag the repo with a new patch level version tag, if this build is done on
#     'FIREFOX_VERSION = latest' and (only one of the matrix-builds is relevant)
#     this is not a pull request and (pull requests themselves should not autoincrement)
#     this branch is the master branch and (only builds on master are relevant)
#     there is no tag given (if a tag is alread given, this one will be published and should not again be tagged!)
- 'if [ "$FIREFOX_VERSION" = "latest" -a "$TRAVIS_PULL_REQUEST" = "false" -a "$TRAVIS_BRANCH" = "master" -a "$TRAVIS_TAG" = "" ]; then wget https://github.com/test-editor/commons-build-automation/raw/master/travis/deploy/tag_with_new_patch_version.sh; nix-shell shell-${FIREFOX_VERSION}.nix --command  "bash tag_with_new_patch_version.sh"; fi'
before_deploy:
- touch .npmignore
- cd dist/
deploy:
  skip_cleanup: true
  provider: npm
  email: testeditor.eng@gmail.com
  api_key:
    secure: "MMqvyGarl74Hed7dihdAp9qbpEugyIx/ia7RfSWJT3hyAFKVEYU+1Yjm/ArzqE6t2I15Ofu5J87pb1Le3dnJZ8kWD7RDU6CT9KKkPKfVKC2qKRWTWGXVRJknsPuJO7V1OUt5ZdH9Yh+Q6U3ecS5U4BeYbb7dcd/WNAtgdY9jAl9iVoNyYmb18YPUx2ycdhtw2ib+jF2ADY7ZZTUocsL6r6nK+S8jRtaGmCFqp1G18PM4p29ph2O7xQSXIZOMxdPqlm7N3fzbVoIurBcbB1V1bc120trKf0zFGmOcLtntjNs0ML+iNH0V8RQAoHnxudtdwPi3VSy954dVwEmr6c0f+a0cy+tP1BXfQEMYyCExxTXwnr5oWl9np1oU+xkFThRTzy3GSeH7YLvimWpR1LnC0jlT+lzKhV+LMmTmLE5Hj2LgrDbZkociPUCRCIeuVAoQOgRTrGi9J9lXFEwMAPWpFQzT5erA4sXQJLw0xRxe4wYsAsSFqsPZpIYeXZZ34lDhFkrYX6icWQulNfQGHmNk/YFZORid6O0fUnRGu8oLMpEAmvC279SUXjn/APSwRoHljdcP3JmOKda4b4sOjD8kFdpHD4TXrVhiyEVYJWM+4NtjaZ/flFXmSoTcxcs15fvux6ZXK2EK9+akFOSjCe5MO75g8iRW9q2x8z/Q+acLduM="
  on:
    condition: "$FIREFOX_VERSION = latest"
    tags: true
    repo: test-editor/web-testexec-navigator
