<div [id]="idPrefix+'test-exec-navigator'" class="test-exec-navigator">
  <div class="icon-menu" [id]="idPrefix+'icon-menu'">
    <div class="icons-left" [id]="idPrefix+'icon-menu-left'">
      <button [id]="idPrefix+'icon-run'" [class]="'icon fa ' + runCancelButtonClass" (click)="run()" [disabled]="!selectionIsExecutable()" [title]="getExecuteButtonTitle()"></button>
    </div>
    <button *ngIf="testRunList.length>0" class="btn"><span>Test runs</span></button>
    <ul class="dropdown">
      <span *ngFor="let item of testRunList" (click)="loadTestRun(item)" [class]="item.class"><li><a href="#" >&nbsp;{{item.name}}</a></li></span>
    </ul>
    <div class="icons-right" [id]="idPrefix+'icon-menu-right'">
      <button [id]="idPrefix+'icon-collapse-all'" class="icon fa fa-minus-square-o" aria-hidden="true" (click)="collapseAll()" title="collapse all"></button>
    </div>
  </div>
  <div [id]="idPrefix + 'test-tree'" class="test-tree">
    <app-tree-viewer [model]="treeNode" [level]="0" [config]="treeConfig"></app-tree-viewer>
  </div>
</div>
