.test-exec-navigator {
  flex-grow: 0;
  height: 100%;
  z-index: 1;
  background-color: #252525;
  resize: horizontal;
  position: relative;
}

.test-tree {
  overflow-y: auto; /* vertical scroll bar should automatically appear */
  overflow-x: hidden; /* since tree content is cut (ellipsis added), never show horizontal scrol bar */
  height: calc(100% - 34px); /* -34 px occupied by the icon button bar! */
}

.icon-menu {
  padding: 5px;
}

.icons-left {
  float: left;
}

.icons-right {
  text-align: right;
}

.icon {
  color: #CCCCCC;
  cursor: pointer;
}

.icon:hover:enabled {
  color: #ffffff;
}

.icon:hover:disabled {
  cursor: auto;
}

.icon:disabled {
  color: #555555;
}

button {
  background:none!important;
  border:none;
  padding:0!important;
}

@keyframes pulse_animation {
    0% { transform: scale(1); color: white; }
    30% { transform: scale(1); color: white; }
    35% { transform: scale(0.9); color: yellow; }
    40% { transform: scale(1.1); color: yellow; }
    45% { transform: scale(0.9); color: yellow; }
    50% { transform: scale(1); color: white; }
    60% { transform: scale(1); color: white; }
    65% { transform: scale(0.9); color: yellow; }
    70% { transform: scale(1.1); color: yellow; }
    75% { transform: scale(0.9); color: yellow; }
    80% { transform: scale(1); color: white; }
    100% { transform: scale(1); color: white; }
}

.pulse {
    animation-name: pulse_animation;
    animation-duration: 5000ms;
    transform-origin:70% 70%;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
